<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title><%= @title %></title>
</head>

<body>
    <p><h3><%= @title %></h3></p>
    <p><h4>by: /u/<%= @author %></h4></p>
    <br />
    <p>Source: <%= @url %></p>
</body>

</html>